body {
  font-family: 'Cutive Mono', monospace;
}

.navbar {
  border-bottom: 1px solid #6c757d;
}

.profile-pic {
  width: auto;
  max-height: 300px;
  max-width: 300px;
  margin: 0 auto;
  padding: .25rem;
  border: 1px solid #6c757d;
}

.about-me {
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
}

.icon {
  max-height: 25px;
  max-width: 25px;
  padding: 0 .25rem;
  display: inline;
}
