body {
  font-family: 'Fira Sans Condensed', sans-serif !important;
}

.navbar {
  border-bottom: 1px solid #6c757d;
}

.profile-pic {
  width: auto;
  max-height: 300px;
  max-width: 300px;
  margin: 0 auto;
  padding: .25rem;
  border: 1px solid #6c757d;
}

.section {
  padding: 2rem;
  text-align: left;
}

.about-me {
  // max-width: 30%;
  // margin: 0 auto;
  text-align: center;
}

@media (min-width: 915px) {
  .about-me {
    max-width: 30%;
    position: fixed;
  }
}

blockquote p {
  color: darkgray;
}

.info-text {
  min-width: 100%;
  padding-top: 6vh;
}

.about-me-text {
  padding-top: 2vh;
}

.icon {
  max-height: 25px;
  max-width: 25px;
  padding: 0 .25rem;
  display: inline;
}

.img-wrapper {
  max-height: 200px;
  max-width: 200px;
  width: 75%;
  margin: 0 auto;
  padding: 15px 0px;
}

.img {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.card {
  flex: 1 1 100%;
  flex-direction: row;
  align-items: center;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  text-overflow: ellipsis;
  border: none;
}

.text {
  margin: 0 auto;
}

.header {
  padding: 15px 0px;
  margin: 0px;
}

.link-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.links {
  width: 100%;
}

.album-wrapper {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  row-gap: 25px;
  justify-items: left;
}
